/*THIS IS THE BACKGROUND FOR EACH OF THE PAGES*/
html {
  background-image: url("Main_Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1260px;
}

/*BODY formatting, controls the whole site font color, family, and size*/
body {
  font-size: 16px;
  font-family: arial;
  color: white;
}

/*LINKS SHOW AS NORMAL AND DO NOT CHANGE COLOR WHEN PREVIOUSLY VISITED*/
a:visited {
  text-decoration: none;
  color: white;
}

/*BELOW THIS LINE COVERS THE NAVIGATION USED ON EVERY PAGE. SEE END BELOW*/
ul.a {
  background-color: black;
  font-size: 18px;
}

ul.a li {
  display: inline-block;
  margin-left: 50px;
}

ul.a li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


ul.a li a:hover, dropdown:hover, .dropbtn:hover {
  background-color: rgb(150,12,12);
  color: white;

}

ul.a li.dropdown {
  display: inline-block;
  margin-left: 50px;
  margin-right: 10px;
  cursor: none;
}

ul.a li.dropdown:hover {
  background-color: black;
  cursor: none;
}

ul.a .dropdown-content {
  display: none;
  background-color: rgb(252, 245, 229);
  position: absolute;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
  z-index: 1;
}

ul.a .dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
  color: black;
}

ul.a .dropdown-content a:hover{
  background-color: black;
  color: white;
}

ul.a .dropdown:hover .dropdown-content{
  display: block;
}
/*THIS IS WHERE THE NAVIGATION FORMATTING ENDS*/


/*THIS IS THE CONTAINERS TO HELP CONSTRAIN THE BOX ELEMENTS,KEEPS THINGS ORGANIZED*/
.boxcontainer {
  display: flex;
  width: 92%;
  margin: auto;
  padding: 15px;
}

.largeboxcontainer {
  margin: auto;
  width: 99%;
  padding: 15px;
}

  

/*THE INDIVIDUAL BOXES, WHICH FLOAT AND COVER THE SCREEN, HOLDS VARIOUS ITEMS*/
.box {
  border: solid 1px white;
  background-color: rgba(0,0,0,0.2);
  float: none;
  margin: auto;
  color: white;
  width: 48%;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/*LARGER BOX TO HOLD PAGE WIDTH FIELDS*/
.largebox {
  border: solid 1px white;
  background-color: rgba(0,0,0,0.2);
  float: none;
  margin: auto;
  color: white;
  width: 97%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px;
}

.statbox { 
  width: 87%;
  border: solid 1px white;
  background-color: rgba(0,0,0,0.2);
  margin: auto;
  font-size: 20px;
}

/*ONLY FOR THE MAIN PAGE*/
h2 {
  text-align: center;
  font-size: 36px;
  color: black;
  margin: auto;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(150,12,12);
  color: rgba(0,0,0,0.4);
  margin-top: auto;
  margin-bottom: -2px;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: black;
   -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(150,12,12);
  color: rgba(0,0,0,0.4);
  margin-top: auto;
  margin-bottom: -2px;
 
}

.stats {
  color: white;
  border: solid 1px white;
  background-color: rgba(0,0,0,0.4);
  float: none;
  width: 90%;
  margin-left: 5%;
  height: auto;
  display: inline-block;
  margin-top: 15px;
  height: auto;
}



.statsbox {
  font-size: 20px;
  float: left;
  color: white;
  width: 48%;
  display: inline;
  text-align: right;
}

.statsbox ul {
  list-style-type: none;
}
h3 {
display: block;
}


.story {
  color: white;
  background-color: rgba(0,0,0,0.2);
  animation: fadeIn 5s;
  margin: auto;
  text-align: left;
  font-size: 24px;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  display: flex;
  width: 90%;
}

ul.b {
  list-style-type: none;
  margin: 0px;
}

ul.b li {
  margin-left: -10px;
}

/*ANIMATION TO FADE IN THE TEXT ON THE MAIN PAGE*/
@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*END OF ANIMATION FORMATTING*/

/*FOOTER INFORMATION AT THE BOTTOM OF EACH PAGE*/
footer {
  text-align: center;
  color: white;
  margin: auto;
}


/*SPECIFIC FOR THE ADVENTURING PACK PAGE*/
.journal {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  margin:auto;
  width: 90%;

}


dl {
  margin: auto;
 
}

dt a{
  margin-left: 15px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  display: inline;
  text-decoration: none;
}


dd {
  font-style: oblique;
  background-color: rgba(255,255,255, 0.3);
  color: black;



}


.entry {
  display: none;
  width: 95%;
  height: auto;
  margin-bottom: 15px;
}

.racedef {
  display: block;
}

.expand {
  color: white;

}

h3 {
  margin-bottom: -3px;
  margin-top: 0px;
  margin-left: 5px;
  font-size: 24px;

}

.box a {
  color: white;
}


iframe {
  width: 90%;
  height: 850px;
}